<div class="container mt-3" th:fragment="ib">
    <div class="row">
        <div class="col-6">
            <div class="bg-primary fs-3 text-white p-3">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-film float-left align-middle"></i>
                    </div>
                    <div class="col-11">
                        <span class="fs-6">Movies</span><br/>
                        <span class="fs-5" th:text="${numMovies}">{#movies}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="bg-primary fs-3 text-white p-3">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-film align-middle"></i>
                    </div>
                    <div class="col-11">
                        <span class="fs-6">TV series</span><br/>
                        <span class="fs-5" th:text="${numTVSeries}">{#tvseries}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>