<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>K!Movies</title>
</head>
<body>
<div th:replace="hf :: header" />
<div class="container mt-3 mb-3" th:if="${edit == 'false'}">
        <div class="row">
            <div class="col-4"><h2 th:text="${movie.title}"></h2></div>
            <div class="col-8"><a href="/kmovies/movies/" class="btn text-decoration-none text-white" style="background-color:#363945;"><i class="bi bi-arrow-left-circle me-1"></i>Back</a></div>
        </div>
        <div class="row mt-1">
            <div class="col-4"><img th:src="${movie.poster}" class="img-fluid shadow"/></div>
            <div class="col-8">

                    <div class="row">
                        <div class="col-2">Year:</div>
                        <div class="col-10" th:text="${movie.year}"></div>
                    </div>
                    <div class="row">
                        <div class="col-2">Rating:</div>
                        <div class="col-10" th:switch="${movie.rating}">
                            <i th:case="${1}" class="bi bi-star-fill"></i>
                            <i th:case="${-1}" class="bi bi-star"></i>
                            <i th:case="${0}" class="bi bi-star-half"></i>
                            <i th:case="*" class="bi bi-slash-circle"></i>
                        </div>
                    </div>

            </div>
        </div>
</div>
<div class="container mt-3 mb-3" th:if="${edit == 'true'}">
<form th:action="@{/kmovies/movies/update}" th:object="${movie}" method="put">
    <input type="hidden" id="iid" name="id" th:field="*{id}" th:value="${movie.id}">
    <div class="row">
        <div class="col-4"><input class="form-control" type="text" th:value="${movie.title}" th:field="*{title}" /></div>
        <div class="col-8"><a href="/kmovies/movies/" class="btn text-decoration-none text-white" style="background-color:#363945;"><i class="bi bi-arrow-left-circle me-1"></i>Back</a></div>
    </div>
    <div class="row mt-3">
        <div class="col-4"><img th:src="${movie.poster}" class="img-fluid shadow"/></div>
        <div class="col-8">

            <div class="row">
                <div class="col-2"><span class="input-group-text" id="inputGroup-sizing-default" style="background-color:white;border:0;">Year</span></div>
                <div class="col-10"><input class="form-control" type="text" th:value="${movie.year}" th:field="*{year}" /></div>
            </div>
            <div class="row">
                <div class="col-2"><span class="input-group-text" id="inputGroup-sizing-rating" style="background-color:white;border:0;">Rating</span></div>
                <div class="col-10 pt-2" th:switch="${movie.rating}">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rAc" value="1" checked th:if="${movie.rating == 1}" th:field="*{rating}">
                        <label class="form-check-label bi bi-star-fill" for="rAc" id="rA-lbl"></label>

                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rA" value="1" th:unless="${movie.rating == 1}" th:field="*{rating}">
                        <!--<label class="form-check-label bi bi-star-fill opacity-25" for="rA" id="rA-lblOp" th:unless="${movie.rating == 1}"></label>-->
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rBc" value="0" checked th:if="${movie.rating == 0}" th:field="*{rating}">
                        <label class="form-check-label bi bi-star-half nc" for="rBc" id="rB-lbl"></label>

                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rB" value="0" th:unless="${movie.rating == 0}" th:field="*{rating}">
                        <!--<label class="form-check-label bi bi-star-half opacity-25" for="rB" id="rB-lblOp" th:unless="${movie.rating == 0}"></label>-->
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rCc" value="-1" checked th:if="${movie.rating == -1}" th:field="*{rating}">
                        <label class="form-check-label bi bi-star nc" for="rCc" id="rC-lbl"></label>

                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rC" value="-1" th:unless="${movie.rating == -1}" th:field="*{rating}">
                        <!--<label class="form-check-label bi bi-star opacity-25" for="rC" id="rC-lblOp" th:unless="${movie.rating == -1}"></label>-->
                    </div>
                </div>
            </div>
            <div class="row-3 mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
</div>
<div th:replace="hf :: footer" />
</body>
</html>